<div class="container">
  <div class="d-flex align-items-center justify-content-between">
    <h3>Editer Instruction</h3>
  </div>
  <%= simple_form_for(@instruction) do |f| %>
    <p>Editer le titre et l'illustration</p>
    <%= f.input :title, label: false, input_html: { class: "col-12 mb-3" }, placeholder: "Title" %>
    <p>Changer la photo si besoin</p>
    <%= f.input :media, as: :file, label: false, input_html: { class: "input col-12 mb-3" } %>
    <br>
    <p>Editer les détails de l'instruction</p>
    <%= f.rich_text_area :rich_content, label: false, input_html: { class: "col-12 mb-3" }, placeholder: "Content" %>
    <br>
    <p>Changer l'ordre d'apparition</p>
    <%= f.input :step_order, collection: (1..20), label: false, input_html: { class: "col-12 mb-3" } %>
    <div class='d-flex justify-content-end mb-3'>
      <%= link_to 'Annuler', material_path(@instruction.material), class: "btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button mr-3" %>
      <%= link_to 'Supprimer', instruction_path(@instruction), method: :delete, class: "btn btn-outline-danger rounded-pill d-block mt-3 plastroc-outline-button mr-3" %>
      <%= f.submit "Valider", class: "btn btn-primary rounded-pill d-block mt-3 plastroc-button plastroc-light-shadow" %>
    </div>
  <% end %>
</div>
