<div class="container" style="margin-bottom: 75px;">
  <h3 class="mt-3 mb-3">Organisations</h3>

  <% @organisations.each do |org| %>
    <div class="container">
      <div class="card card-m mb-3">
        <%= cl_image_tag org.photo.key %>
        <section>
          <h6><%= org.name %></h6>
          <p><%= org.about %></p>
          <p><i class="fas fa-map-marker-alt mr-2"></i><%= org.address %>, <%= org.city %>, <%= org.postcode %></p>
          <p><i class="fas fa-clock mr-2"></i><%= org.opening_hours %></p>
          <p><i class="fas fa-envelope mr-2"></i><%= org.contact %></p>
          <% if policy(org).update? %>
            <%= link_to 'Edit',
                        edit_organisation_path(org),
                        class: 'btn btn-primary rounded-pill d-block mt-3 plastroc-button plastroc-light-shadow' %>
          <% end %>
          <% if policy(org).destroy? %>
            <button data-id="<%= org.id %>" class="delete-organisation btn btn-outline-danger btn-block rounded-pill mt-2 plastroc-button">Delete</button>
            <%= link_to "",
                        organisation_path(org),
                        method: :delete,
                        # data: { confirm: "Are you sure?" },
                        class: 'delete-orga hidden',
                        id: "del-org-#{org.id}" %>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>
</div>
