<% if current_user != @campaign.user %>
  <!-- Pour tous les users -->
  <h5 class="mt-2" id="question_title">Questions</h5>
  <button href="#" class='btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100' data-toggle="modal" data-target="#NewQuestion">
    Ajouter une question
  </button>
  <% @campaign.questions.order(:created_at).reverse.each do |question|%>
    <blockquote class="blockquote card mt-3" id="questiontitle-<%= question.id %>">
       <div class="card-body">
          <div class="col-11">
            <h6 class="mb-0"><%= question.title %></h6>
            <p class="mb-0"><%= question.content %></p>
            <footer class="blockquote-footer mt-2 mb-0"><%= question.created_at.strftime("le %m/%d/%Y") %><cite title="Source Title"> par <%= question.user.first_name %></cite></footer>
          </div>
          <div class="col-12 mt-3">
            <% if question.answer.nil? %>
              <p class="text-right p-0 m-0">
                <a class="btn btn-sm btn-link-secondary rounded-pill" >🤨 Pas encore de réponse</a>
              </p>
            <% else %>
              <p class="text-right p-0 m-0">
                <a class="btn btn-sm btn-link-secondary rounded-pill" data-toggle="collapse" href="#question-<%= question.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">📣 Répondu <%= question.updated_at.strftime("le %m/%d/%Y") %> <i class="fas fa-chevron-down"></i></a>
              </p>
               <div class="collapse" id="question-<%= question.id %>">
                  <blockquote class="blockquote">
                     <p class="mb-0 mt-2 text-right"><%= question.answer %></p>
                     <footer class="blockquote-footer mt-2 mb-0 text-right"><%= question.campaign.organisation.user.first_name %> de <%= question.campaign.organisation.name %></footer>
               </div>
             <% end %>
          </div>
       </div>
    </blockquote>
  <% end %>
<% else %>
  <!-- Pour tous les owners -->
  <h5 id="question_title">Questions</h5>
  <% if @campaign.questions.empty? %>
  <p>Pas encore de questions 😅</p>
  <% else %>
  <% @campaign.questions.order(:created_at).reverse.each do |question|%>
      <blockquote class="blockquote card mt-3" id="questiontitle-<%= question.id %>">
         <div class="card-body">
            <div class="col-11">
              <h6 class="mb-0"><%= question.title %></h6>
              <p class="mb-0"><%= question.content %></p>
              <footer class="blockquote-footer mt-2 mb-0"><%= question.created_at.strftime("le %m/%d/%Y") %><cite title="Source Title"> par <%= question.user.first_name %></cite></footer>
            </div>
            <div class="col-12 mt-3">
              <% if question.answer %>
                <p class="text-right p-0 m-0">
                  <a class="btn btn-sm btn-link-secondary rounded-pill " data-toggle="collapse" href="#question-<%= question.id %>" role="button" aria-expanded="false" aria-controls="collapseExample">📣 Répondu <%= question.updated_at.strftime("le %m/%d/%Y") %> <i class="fas fa-chevron-down"></i></a>
                </p>
                 <div class="collapse" id="question-<%= question.id %>">
                    <blockquote class="blockquote">
                      <p class="mb-0 mt-2 text-right"><%= question.answer %></p>
                      <footer class="blockquote-footer mt-2 mb-0 text-right"><%= question.campaign.organisation.user.first_name %> de <%= question.campaign.organisation.name %></footer>
                      <div class='d-flex justify-content-end mt-1'>
                        <%= link_to question_path(question), method: :delete, class: 'btn btn-outline-danger rounded-pill d-block plastroc-outline-button mr-3' do %>
                          <i class="fas fa-trash-alt"></i>
                        <% end %>
                        <button href="#" class='btn btn-primary flex-grow-1 rounded-pill plastroc-button' data-toggle="modal" data-target="#answer-<%= question.id %>">
                          Modifier <i class="fas fa-pen"></i>
                        </button>
                      </div>
                 </div>
              <% else %>
                <div class='d-flex justify-content-end'>
                  <%= link_to question_path(question), method: :delete, class: 'btn btn-outline-danger rounded-pill d-block plastroc-outline-button mr-3' do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                  <button href="#" class='btn btn-primary flex-grow-1 rounded-pill plastroc-button' data-toggle="modal" data-target="#answer-<%= question.id %>">
                    Répondre <i class="pl-2 fas fa-reply"></i>
                  </button>
                </div>
               <% end %>
            </div>
         </div>
      </blockquote>
      <!-- Question Edit Modal to give answer-->
      <div class="modal fade" id="answer-<%= question.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Répondre à la question</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for(question, remote: true) do |f| %>
                <%= f.input :answer,
                        label: false,
                        placeholder: "Réponse*",
                        input_html: { class: "col-12 mb-3 h100" } %>
                    <%= button_tag type: 'submit', class: "btn col-12 btn-primary rounded-pill plastroc-button" do %>
                      <i class="fas fa-paper-plane"></i>
                    <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Question Edit Modal to give answer-->
    <% end %>
  <% end %>
<% end %>
