<div class="homewraper" style="height: 100vh; overflow: hidden;">
   <div class='container'>
      <h1 class="text-center plastroc-text-shadow" id="logo">Plas<span>troc</span></h1>
      <div class="text-center">
         <% if user_signed_in? %>
            <h6 class="text-primary">Vous êtes déjà connecté</h6>
            <div class="row mt-5">
               <div class="col-3"></div>
               <% if current_user.missions.where(status: 'ongoing') == [] %>
               <%= link_to "Accueil", campaigns_path, class: 'col-6 btn btn-primary rounded-pill d-block mt-5 plastroc-button plastroc-light-shadow' %>
               <% else %>
               <%= link_to "Accueil", missions_path, class: 'col-6 btn btn-primary rounded-pill d-block mt-5 plastroc-button plastroc-light-shadow' %>
               <% end %>
            </div>
         <% else %>
            <h6 class="text-primary">Vous souhaitez changer le monde ?</h6>
            <div class="row mt-5">
               <div class="col-2"></div>
               <%= link_to "Créez un compte", new_user_session_path, class: 'col-8 btn btn-primary rounded-pill d-block mt-3 plastroc-button plastroc-light-shadow' %>
            </div>
            <div class="row">
               <div class="col-2"></div>
               <%= link_to "Connectez-vous", new_user_session_path, class: "col-8 btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button" %>
            </div>
         <% end %>
      </div>
   </div>
   <div class="girl-image" style="background-image: url(<%= image_path('plastroc-illus.png') %>);"></div>
   <div class="green"></div>
</div>
