<!-- Banner -->

<div class="banner d-flex flex-column justify-content-between"

style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                          <% if @campaign.photo.attached? %>
                            url('<%= cl_image_path @campaign.photo.key, height: 500, crop: :fill %>')"
                          <% else %>
                            url('https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
                          <% end %>>
  <div class="container">
    <!-- add if statement depending on sorter or recycler -->
    <h4><%= link_to missions_path, class: "position-absolute" do %>
      <i class="fas fa-arrow-left"></i>
      <% end %>
    </h4>
  </div>

  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <% if @campaign.organisation.photo.attached? %>
        <%= cl_image_tag @campaign.organisation.photo.key, width: 56, height: 56, crop: :fill, class: "avatar-large mb-2 plastroc-light-shadow"%>
      <% else %>
        <img style='height: 56px; width: 56px', class='avatar-large mb-2 plastroc-light-shadow' src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <% end %>
      <h5 class="mb-0"><%= @campaign.name %></h5>
      <h6>by <%= @campaign.organisation.name %></h6>
    </div>
  </div>
</div>

<!-- Tabs -->

<nav class="nav plastroc-tabs d-flex justify-content-around flex-nowrap py-3">
  <a class="active" href="#tab-dashboard" data-toggle="tab">Dashboard</a>
  <a class="" href="#tab-mission-details" data-toggle="tab">Campagne</a>
  <a class="" href="#tab-about-me" data-toggle="tab">Infos</a>
</nav>

<!-- Tabs-content -->

<div class="tab-content position-relative" style="margin-bottom: 75px;">

  <!-- Dashboard-Tab -->

  <div class="tab-pane active" id="tab-dashboard">
    <div class="container">
      <div class="d-flex align-items-center">
        <h5 class="mt-2 mr-2">Progression</h5>
        <% if @campaign.status == "ongoing" %>
          <span class="text-decoration-none badge badge-primary badge-pill mb-0"><%= "#{@campaign.status}" %></span>
        <% else %>
          <span class="text-decoration-none badge badge-dark badge-pill mb-0"><%= "#{@campaign.status}" %></span>
        <% end %>
      </div>
      <!-- Engagement des membres -->
      <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0"><strong>Engagé</strong></p>
          <p class="mb-0" id="volume_engaged" data-total='<%= @ratio_engaged %>'><%= @volume_total %>/<%= @campaign.target %><%= @campaign.unit == "unité" ? "unités" : @campaign.unit %></p>
      </div>
       <div class="plastroc-progress-bar mt-2 mb-4">
        <% if @volume_total == 0 %>
          <p class='m-2'>🤔 Pas encore de mission commencée</p>
        <% else %>
          <div class="rounded-pill plastroc-bg-primary-gradient" id="myEngagedBar">...</div>
        <% end %>
       </div>

       <!-- Completion par les membres -->
       <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0"><strong>Complété</strong></p>
          <p class="mb-0" id="volume_done" data-total='<%= @ratio_done %>'><%= @volume_done %>/<%= @campaign.target %><%= @campaign.unit == "unité" ? "unités" : @campaign.unit %></p>
      </div>
       <div class="plastroc-progress-bar mt-2 mb-4">
        <% if @volume_done == 0 %>
          <p class='m-2'>☺️ Pas encore de mission terminée</p>
        <% else %>
          <div class="rounded-pill plastroc-bg-primary-gradient" id="myDoneBar"></div>
        <% end %>
       </div>

      <!-- cf new show for dynamic progress bar -->
      <div class="plastroc-progress-bar mt-2 mb-4">
        <div class="rounded-pill plastroc-bg-primary-gradient"></div>
      </div>

      <!-- Bouton Missions en cours -->
      <p class="text-center">Liste des missions en cours pour validation</p>
      <button type="button" class="col-6 offset-3 btn btn-primary rounded-pill d-block mb-3 plastroc-button plastroc-light-shadow" data-toggle="modal" data-target="#missions">
        <%= @ongoing_missions.count %> en cours
      </button>

      <!-- Modal missions en cours -->
      <div class="modal fade" id="missions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Missions en cours</h5>
            </div>
            <div class="modal-body">
              <p class="text-center">Donnez le <span class="badge badge-info badge-pill">code</span> au trieur à la dépose pour validation de la mission:</p>
              <% if @ongoing_missions.empty? %>
                <p class="text-center">Pas de mission en cours pour le moment 🤨.</p>
              <% else %>
                <ul class="list-group">
                  <% @ongoing_missions.each do |mission| %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <%= mission.user.first_name %> <%= mission.user.last_name[0] %>
                      <div class='d-flex'>
                        <span class="badge badge-primary badge-pill"><i class="fas fa-weight-hanging"></i> <%= mission.package.quantity %> <%= mission.package.campaign.unit %></span>
                        <span class="badge badge-info badge-pill ml-1"><%= mission.package.campaign.id %><%= mission.id %></span>
                      </div>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary rounded-pill" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <%= render 'shared/questions_display' %>

    </div>
  </div>

  <!-- Mission-details-Tab -->

  <div class="tab-pane" id="tab-mission-details">
    <div class="container">

      <%= render 'shared/info_content' %>

      <h5>Tuto</h5>

      <%= render 'shared/how_to_content' %>

    </div>
  </div>

  <!-- About-me-Tab -->

  <div class="tab-pane" id="tab-about-me">
    <div class="container">

      <%= render 'shared/contact_content' %>

    <% if current_user != @campaign.user %>
      <button href="#" class='btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100'>
        Poser une question
      </button>
    <% end %>

    </div>
  </div>

<!-- Edit & stop buttons -->

  <% if @campaign.status == "finished" %>
    <%= link_to "Dupliquer", new_campaign(@campaign.dup), class: "plastroc-button-sticky-bottom btn btn-primary d-block mt-3 plastroc-button plastroc-light-shadow w-100 py-3" %>
  <% else %>
    <div class="bottom-nav">
        <div class="d-flex justify-content-around">
            <p><a href="#" style="color: &plastroc-main;" data-toggle="modal" data-target="#editModal">Editer</a></p>
            <% if @campaign.status == "ongoing" %>
              <p><%= link_to "Stopper", pause_campaign_path(@campaign), method: :patch, style: "color: red", remote: true %></p>
            <% else %>
              <button data-id="<%= @campaign.id %>" class="finish-campaign">Terminer la campagne</button>
      <%= link_to "",
                  finish_campaign_path(@campaign),
                  method: :patch,
                  # data: { confirm: "Are you sure?" },
                  class: 'hidden',
                  id: "fin-camp-#{@campaign.id}" %>
              <p><%= link_to "Reprendre", publish_campaign_path(@campaign), method: :patch, remote: true %></p>
            <% end %>
        </div>
    </div>

  <% end %>


</div>

<!-- Modal Edit  -->

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editer la campagne</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="margin-bottom: 75px;">
          <div id="materials" data-materials="<%= @materials.to_json %>"></div>
          <%= simple_form_for @campaign do |f| %>
            <%= f.input :name,
                        label: "Nom",
                        placeholder: "Nom*",
                        input_html: { class: "col-12 mb-3" } %>

            <%= f.input :description,
                        label: "Description",
                        placeholder: "Description*",
                        input_html: { class: "col-12 mb-3" } %>

            <%= f.input :end_date,
                        as: :string,
                        required: false,
                        input_html: { class: "date-picker col-12 mb-3" } %>

            <%= f.input :target,
                        label: "Quantité totale",
                        placeholder: "Quantité totale*",
                        input_html: { class: "input col-12 mb-3" } %>

            <%= f.input :min_package,
                        label: "Quantité minimum par mission",
                        placeholder: "Quantité minimum par mission*",
                        input_html: { class: "col-12 mb-3" } %>

            <%= f.input :unit,
                        label: false,
                        as: :radio_buttons,
                        collection: Campaign::UNITS,
                        boolean_style: :inline,
                        collection_wrapper_tag: 'div',
                        collection_wrapper_class: 'unit-wrapper',
                        item_wrapper_class: 'unit-item',
                        input_html: {class: 'unit-selector'} %>

            <%= f.input :min_package,
                        label: "Quantité minimum par mission",
                        placeholder: "Quantité minimum par mission*",
                        input_html: { class: "col-12 mb-3" } %>

            <%= f.input :photo,
                    as: :file,
                    input_html: { class: "d-none", id: 'photo-input' },
                    label_html: { class: 'upload-photo col-12 text-center'},
                    label: '📷 Choisissez une photo' %>
            <%= image_tag "", width: 300, class: "hidden mx-auto mb-2", id: "photo-preview" %>

            <%= f.submit 'Valider', class: "mt-2 btn btn-primary rounded-pill d-block plastroc-button plastroc-light-shadow col-12 mb-3" %>
          <% end %>
          <%= link_to 'Annuler', dashboard_campaign_path(@campaign), class: "btn btn-outline-danger rounded-pill d-block mt-3 plastroc-outline-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
