<div class="d-flex flex-column min-vh-100" style="padding-bottom: 60px;">
   <div class="map-container flex-grow-1" style="height: 65vh;">
      <div id="map"
           style="width: 100%; height: 100%;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <div class="map-transition">
      </div>
   </div>

   <div>
      <h4 class="text-center page-title">Missions</h4>
      <div class="campaigns-wrapper">
         <% @campaigns.each do |campaign| %>
            <div class="col-11 col-md-4 mt-3">
              <% if campaign.user == current_user %>
               <%= link_to dashboard_campaign_path(campaign) do %>
              <% end %>
               <%= link_to campaign_path(campaign) do %>
                  <div class="card campaign-card">
                     <div class="card-horizontal">
                        <div class="img-square-wrapper campaign-card-img">
                           <%= cl_image_tag campaign.photo.key, height: 100, width: 100, crop: :fill %>
                        </div>
                        <div class="p-3 d-flex flex-column justify-content-between align-items-start">
                           <p class="m-0">
                              <span class="badge badge-primary rounded-pill mb-2 d-inline-block"><%= campaign.material.category %></span>
                              <span class="badge badge-primary rounded-pill mb-2 d-inline-block"><%= campaign.material.name %></span>
                           </p>
                           <h6 class="card-title">
                                 <%= campaign.name %>
                           </h6>
                        </div>
                     </div>
                  </div>
               <% end %>
            </div>
         <% end %>
      </div>
   </div>
</div>

<!-- nav bar -->
<div class="bottom-nav">
   <div class="d-flex justify-content-between">
      <%= link_to missions_path, class: 'text-decoration-none flex-fill' do %>
      <p class=""><i class="fas fa-home"></i></p>
      <% end %>
      <%= link_to campaigns_path, class: 'text-decoration-none flex-fill' do %>
      <p class="active-tab"><i class="fas fa-search"></i></p>
      <% end %>
      <%= link_to user_path(current_user), class: 'text-decoration-none flex-fill' do %>
      <p class=""><i class=" fas fa-user"></i></p>
      <% end %>
   </div>
</div>


