<!-- Banner -->

<div class="banner d-flex flex-column justify-content-between"

style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                          <% if @campaign.photo.attached? %>
                            url('<%= cl_image_path @campaign.photo.key, height: 500, crop: :fill %>')"
                          <% else %>
                            url('https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
                          <% end %>>
  <div class="container">
    <!-- add if statement depending on sorter or recycler -->
    <h4><%= link_to :back, class: "position-absolute" do %>
      <i class="fas fa-arrow-left"></i>
      <% end %>
    </h4>
  </div>

  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <% if @campaign.organisation.photo.attached? %>
        <%= cl_image_tag @campaign.organisation.photo.key, class: "avatar-large mb-2 plastroc-light-shadow"%>
      <% else %>
        <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <% end %>
      <h5 class="mb-0"><%= @campaign.name %></h5>
      <h6>by <%= @campaign.organisation.name %></h6>
    </div>
  </div>
</div>

<!-- Tabs -->

<nav class="nav plastroc-tabs d-flex justify-content-around flex-nowrap py-3">
  <a class="active" href="#tab-info" data-toggle="tab">Info</a>
  <a class="" href="#tab-how-to" data-toggle="tab">Tuto</a>
  <a class="" href="#tab-contact" data-toggle="tab">Contact</a>
</nav>

<!-- Tabs-content -->

<div class="tab-content" style="margin-bottom: 75px;">

  <!-- Info-Tab -->

  <div class="tab-pane active" id="tab-info">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
          <h5 class="mb-0 mt-2">Progression</h5>
          <p class="mb-0"><%= @volume_done %>/<%= @campaign.target %><%= @campaign.unit %></p>
      </div>

      <!-- calcul from missions to add in wigth and aria-now -->
      <div class="progress plastroc-progress-bar mt-2 mb-4">
        <div class="progress-bar rounded-pill plastroc-bg-primary-gradient" role="progressbar" style="width: <%= @volume_done / @campaign.target %>" aria-valuenow="<%= @volume_done / @campaign.target %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>

      <h5>Infos</h5>
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column align-items-center">
          <% if @campaign.material.photo.attached? %>
            <%= cl_image_tag @campaign.material.photo.key, class: "avatar m-2"%>
          <% else %>
            <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
          <% end %>
          <p class="mb-2"><%= @campaign.material.name %></p>
        </div>

        <div class="d-flex flex-column align-items-center">
          <%= image_tag "https://images.unsplash.com/photo-1580227974546-fbd48825d991?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80", class: "avatar m-2"%>

          <% if (@campaign.number_of_days) > 1 %>
            <p><%= (@campaign.number_of_days) %> jours</p>
          <% elsif (@campaign.number_of_days) == 1 %>
            <p>1 jour</p>
          <% else %>
            <p>Terminé</p>
          <% end %>
        </div>

        <div class="d-flex flex-column align-items-center">
          <%= image_tag "https://tse3.mm.bing.net/th?id=OIP.Y0MT13_5LWvEps196W0blAHaGi&pid=Api", class: "avatar m-2"%>
          <p>Level: 1</p> <!-- turn it dynamic when possible -->
        </div>
      </div>

      <h5>Détails</h5>
      <p><%= @campaign.description %></p>

      <h5>Membres</h5>
      <div class="d-flex">
        <%= image_tag "https://i.pravatar.cc/200?u=14", class: "avatar mx-2"%>
        <%= image_tag "https://i.pravatar.cc/200?u=10", class: "avatar mx-2"%>
        <%= image_tag "https://i.pravatar.cc/200?u=20", class: "avatar mx-2"%>
        <%= image_tag "https://i.pravatar.cc/200?u=4", class: "avatar mx-2"%>
      </div>

      <% if current_user != @campaign.user %>
        <button href="#" class='btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100'>
          Poser une question
        </button>
      <% end %>

    </div>
  </div>

  <!-- How-to-Tab -->

  <div class="tab-pane" id="tab-how-to">
    <div class="container" id="campaign-how-to">
      <% @campaign.material.instructions.sort_by { |instruction| instruction.step_order }
.each do |instruction| %>
        <div class="card card-m mt-3">
          <% if instruction.media.attached? %>
            <%= cl_image_tag instruction.media.key, height: 500, crop: :fill %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
          <% end %>

              <div class="card-body">
                  <span class="badge badge-pill badge-success">Etape <%= instruction.step_order %></span>
                  <section>
                      <h6><%= instruction.title %></h6>
                      <p><%= instruction.rich_content %></p>
                  </section>
              </div>
          </div>
      <% end %>

      <% if current_user != @campaign.user %>
        <button href="#" class='btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100'>
          Poser une question
        </button>
      <% end %>

    </div>
  </div>

  <!-- Contact-Tab -->

  <div class="tab-pane" id="tab-contact">
    <div class="container">
      <div class="card mt-3">
        <div class="card-body">
          <section>
            <h6>Que faisons nous ?</h6>
            <p><%= @campaign.organisation.about %></p>
          </section>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <section>
            <h6><span class="icon address">Notre Adresse</h6></span>
            <p><%= @campaign.organisation.address %></p>
          </section>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <section>
            <h6><span class="icon clock">Horaires d'ouverture</h6></span>
            <p><%= @campaign.organisation.opening_hours %></p>
          </section>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <section>
            <h6><span class="icon mail">Contact</h6></span>
            <p><%= @campaign.organisation.contact %></p>
          </section>
        </div>
      </div>

    <% if current_user != @campaign.user %>
      <button href="#" class='btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100'>
        Poser une question
      </button>
    <% end %>

    </div>
  </div>

<!-- Bottom-CTA -->

  <% if current_user == @campaign.user %>
    <div class="bottom-nav">
        <div class="d-flex justify-content-around">
            <p><a href="#" style="color: &plastroc-main;" data-toggle="modal" data-target="#editModal">Editer</a></p>
            <p><a href="#" style="color: red;">Stopper</a></p>
        </div>
    </div>

  <% else %>
    <div id="sliding-card">
      <button href="#" id="CTA" style="border-radius: 12px 12px 0px 0px" class='plastroc-button-sticky-bottom btn btn-primary d-block mt-3 plastroc-button plastroc-light-shadow w-100 py-3' data-toggle="modal" data-target="#joinModal">
      Rejoindre la campagne
      </button>

      <div id="bottom-text" class="text-open">
        <h5 class="pt-3">Choisissez la mission</h5>
        <hr>

        <div class="package-grid">
          <% @campaign.packages.each do |package| %>
            <div class="package-badge package-badge-square my-2">
              <div class="container p-3">
                  <h6><%= package.name %></h6>
                  <div class="d-flex justify-content-between align-items-center text-center mt-3">
                      <div>
                          <i class="fas fa-weight-hanging text-primary mb-2"></i>
                          <p><strong><%= package.quantity %> <%= @campaign.unit %></strong></p>
                      </div>
                      <div>
                          <i class="fas fa-angle-double-up text-primary mb-2"></i>
                          <p><%= package.quantity %></p>
                      </div>
                  </div>
              </div>
            </div>
          <% end %>
        </div>s
    </div>
  <% end %>
</div>
