<div class="home-banner" style="background-image: url(<%= image_path('leaf-illus.png') %>);">
   <div class="container">
     <h3 class="text-left py-4">Dashboard</h3>
   </div>
</div>
<div style="margin-bottom: 72px" class='container'>

<!-- My question's answers if any -->
<% if @questions.count > 0 %>
<p>
  <button class="btn btn-outline-warning rounded-pill d-block mt-2 plastroc-outline-button w-100" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    📣 <%= @questions.count %> réponse(s) à vos questions
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul class="list-group">
      <% @questions.each do |question| %>
        <%= link_to seen_question_path(question), method: :patch do %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="text-truncate col-9 px-1" > <%=  question.title  %> </div>
          <span class="badge badge-warning badge-pill col-3"><%=  question.updated_at.strftime("%d/%m/%y")  %></span>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<!-- My campaigns -->
<% if !current_user.organisations.empty? %>
  <div class='d-flex align-items-center justify-content-between mb-2'>
    <h4 class="mt-3">Mes campagnes</h4>
    <h6 class='mt-3 mr-2'>
      <% if current_user.organisations.count == 1 %>
				<%= link_to new_campaign_path(id: current_user.organisations.all[0].id), class: 'mt-3 mb-1 mr-1' do %>
					<i class="fas fa-plus"></i>
				<% end %>
      <% else %>
				<%= link_to new_campaign_path, class: 'mt-3 mb-1 mr-1' do %>
					<i class="fas fa-plus"></i>
				<% end %>
      <% end %>
    </h6>
  </div>
  <hr class="mb-3">
  <% if !current_user.campaigns.empty? %>
    <% @campaigns.each do |campaign| %>
      <%= link_to dashboard_campaign_path(campaign), class: 'text-decoration-none' do %>
        <div class="d-flex flex-row card card-s">
          <% if campaign.questions.where(answer: nil).count > 0 %>
                  <span style= "position: absolute" class="mt-2 ml-2 text-decoration-none badge badge-danger badge-pill mb-2"><%= "#{campaign.questions.where(answer: nil).count}" %></span>
                <% end %>
          <% if campaign.photo.attached? %>
            <%= cl_image_tag campaign.photo.key, crop: :fill %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
          <% end %>
            <div class="card-body">
							<div class="d-flex justify-content-between align-items-start">
								<div>
									<h6 style='color: grey' class="mb-0"><%= campaign.name %></h6>
									<small class='text-truncate' style='max-width: 215px'><%= campaign.organisation.name %></small>
								</div>
                <% if campaign.status == "ongoing" %>
                  <span class="text-decoration-none badge badge-primary badge-pill mb-2"><%= "#{campaign.status}" %></span>
                <% else %>
                  <span class="text-decoration-none badge badge-dark badge-pill mb-2"><%= "#{campaign.status}" %></span>
                <% end %>
							</div>
						</div>
        </div>
      <% end %>
    <% end %>
  <% else %>
  <p class='text-center'>🤨 Pas de campagne en cours...</p>
  <% if current_user.organisations.count == 1 %>
    <%= link_to 'Créer une nouvelle campagne', new_campaign_path(id: current_user.organisations.all[0].id), class: 'btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100' %>
  <% else %>
    <%= link_to 'Créer une nouvelle campagne', new_campaign_path, class: 'btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100' %>
  <% end %>
  <% end %>
<% end %>

<!-- Ongoing missions -->
  <div class='d-flex align-items-center justify-content-between mb-2'>
    <h4 class="mt-3">Mes missions</h4>
    <h6 class='mt-3 mr-2'>
      <%= link_to campaigns_path, class: 'mt-3 mb-1 mr-1' do %>
        <i class="fas fa-search"></i>
      <% end %>
    </h6>
  </div>
<hr class="mb-3">
<% if current_user.missions.empty? %>
  <p class='text-center'>🧐 Pas encore de mission en cours...</p>
<% else %>
  <% @missions.each do |mission| %>
    <%= link_to mission_path(mission), class: 'text-decoration-none' do %>
      <div class="card campaign-card">
        <div class="card-horizontal">
          <div class="img-square-wrapper campaign-card-img">
            <% if mission.package.campaign.photo.attached? %>
              <%= cl_image_tag mission.package.campaign.photo.key, height: 100, width: 100, crop: :fill %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
            <% end %>
          </div>
          <div class="card-content-m p-3 d-flex flex-column justify-content-between align-items-start">
            <div class="m-0 d-flex w-100">
              <span class="mr-1 max-w-100 badge badge-primary rounded-pill mb-1 d-inline-block text-truncate <%= mission.package.name.downcase %>"><%= mission.package.name %>: <%= mission.package.quantity %><%= mission.package.campaign.unit %></span>
              <span class="mr-1 badge badge-info rounded-pill mb-1 d-inline-block text-white"><i class="fas fa-angle-double-up text-white mb-0"></i> <%= mission.package.xp_reward %></span>
              <span class="max-w-100 badge badge-primary rounded-pill mb-1 d-inline-block text-truncate"><%= mission.package.campaign.material.name %></span>
            </div>
            <h6 class="mb-0 max-w-220 text-truncate"><%= mission.package.campaign.organisation.name %></h6>
            <small class='mt-1 max-w-220 p-0 text-truncate'><%= mission.package.campaign.name %></small>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<!-- Si pas d'organisation, possibilité d'en créer une première pour pouvoir créer des campagnes -->
<% if current_user.organisations.empty? %>
<hr class="mb-3">
<p class='text-center'>♻️ Vous êtes recycleur?</p>
  <%= link_to 'Créer une première campagne de recyclage', new_organisation_path, class: 'btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100' %>
<% end %>
</div>

<!-- nav bar -->
<div class="bottom-nav">
  <div class="d-flex justify-content-between">
    <%= link_to missions_path, class: 'text-decoration-none flex-fill' do %>
      <p class="active-tab"><i class="fas fa-home"></i></p>
    <% end %>
    <%= link_to campaigns_path, class: 'text-decoration-none flex-fill' do %>
      <p class=""><i class="fas fa-search"></i></p>
    <% end %>
    <%= link_to user_path(current_user), class: 'text-decoration-none flex-fill' do %>
      <p class=""><i class=" fas fa-user"></i></p>
    <% end %>
  </div>
</div>

<% if @first_mission_done %>
  <!-- Achivement modal -->
  <div class="achivement-modal d-flex align-items-center">
    <div class="container" id="modal-container">
      <div class="modal-content">
        <div class="modal-body text-center">
        <h4>Fellications !</h4>
        <% if current_user.missions != [] %>
          <h5><i class="fas fa-plus"></i> <%= current_user.missions.first.package.xp_reward %> xp</h5>
        <% end %>
        <img class="mb-3" src="assets/trophy.png" alt="Trophy" style="width: 100px; height: 100px;">
        <h6>1ère mission terminée.</h6>
        <p>Aidez nous nous à recruter plus de trieurs en partageant l'application.</p>

       <%= render '/shared/pop_party' %>

        </div>
        <div class="d-flex justify-content-center mb-2">
          <button type="button" id="share-achivement" class="btn btn-primary rounded-pill d-block mt-2 plastroc-button plastroc-light-shadow mr-3">
            <i class="fas fa-share-alt mr-2"></i>Partager
          </button>
          <button type="button" id="share-achivement" class="btn btn-outline-primary rounded-pill d-block mt-2 plastroc-outline-button close-modal">
            </i>Plus tard
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
