<div class='container'>
  <h3>Accueil</h3>

  <!-- My organisations -->
  <% if !current_user.organisations.empty? %>
    <h4 class="mt-3">Mes Organisations</h4>
    <hr class="mb-3">
    <% @organisations.each do |org| %>
      <%= link_to organisation_path(org), class: 'text-decoration-none' do %>
        <div class="d-flex flex-row card card-s">
          <% if org.photo.attached? %>
            <%= cl_image_tag org.photo.key, crop: :fill %>
          <% else %>
            <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
          <% end %>
          <section class="w-100">
            <div class="d-flex justify-content-between align-items-center">
              <h6 style='color: grey'><%= org.name %></h6>
            </div>
          </section>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <!-- Ongoing missions -->
  <h4 class="mt-3">Mes Missions</h4>
  <hr class="mb-3">
  <% if current_user.missions.empty? %>
    <p>No mission ongoing yet</p>
  </div>
  <% else %>
    <% current_user.missions.each do |mission| %>
      <%= mission %>
    <% end %>
  <% end %>

</div>

<!-- nav bar -->
<div class="bottom-nav">
    <div class="d-flex justify-content-between">
      <%= link_to missions_path, class: 'text-decoration-none flex-fill' do %>
        <p class="active-tab"><i class="fas fa-home"></i></p>
      <% end %>
      <%= link_to campaigns_path, class: 'text-decoration-none flex-fill' do %>
        <p class=""><i class="fas fa-search"></i></p>
      <% end %>
      <%= link_to user_path(current_user), class: 'text-decoration-none flex-fill' do %>
        <p class=""><i class=" fas fa-user"></i></p>
      <% end %>
    </div>
</div>
