<!-- Banner -->

<div class="banner d-flex flex-column justify-content-between"

style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                          <% if @campaign.photo.attached? %>
                            url('<%= cl_image_path @campaign.photo.key, height: 56, width: 56, crop: :fill %>')"
                          <% else %>
                            url('https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')"
                          <% end %>>
  <div class="container">
    <!-- add if statement depending on sorter or recycler -->
    <h4><%= link_to missions_path, class: "position-absolute" do %>
      <i class="fas fa-arrow-left"></i>
      <% end %>
    </h4>
  </div>

  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <% if @campaign.organisation.photo.attached? %>
        <%= cl_image_tag @campaign.organisation.photo.key, height: 56, width: 56, crop: :fill, class: "avatar-large mb-2 plastroc-light-shadow"%>
      <% else %>
        <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <% end %>
      <h5 class="mb-0"><%= @campaign.name %></h5>
      <h6>by <%= @campaign.organisation.name %></h6>
    </div>
  </div>
</div>

<!-- Tabs -->

<nav class="nav plastroc-tabs d-flex justify-content-around flex-nowrap py-3">
  <a class="active" href="#tab-info" data-toggle="tab">Info</a>
  <a class="" href="#tab-how-to" data-toggle="tab">Tuto</a>
  <a class="" href="#tab-contact" data-toggle="tab">Contact</a>
</nav>

<!-- Tabs-content -->

<div class="tab-content" style="margin-bottom: 75px;">

  <!-- Info-Tab -->

  <div class="tab-pane active" id="tab-info">
    <!-- Package -->
    <div class="container mb-4">
          <div class="package-badge package-badge-fluid mt-3 d-flex align-items-center">
            <div class="d-flex justify-content-center align-items-center package-header-fluid text-center">
              <h6 class="text-center badge-pill <%= @package.name.downcase %>"><%= @package.name %></h6>
            </div>
              <div class="container p-3">
                  <div class="d-flex justify-content-around align-items-center text-left">
                      <p class="mb-0"><i class="fas fa-weight-hanging text-primary"></i> <%= @package.quantity %><%= @campaign.unit %></p>
                      <p class="mb-0"><i class="fas fa-angle-double-up text-primary"></i> <%= @package.xp_reward %>xp</p>
                  </div>
              </div>
          </div>
      </div>

    <div class="container">
      <%= render 'shared/info_content' %>

      <%= render 'shared/questions_display' %>

    </div>
  </div>

  <!-- How-to-Tab -->

  <div class="tab-pane" id="tab-how-to">
    <div class="container" id="campaign-how-to">

      <%= render 'shared/how_to_content' %>

      <% if current_user != @campaign.user %>
        <button href="#" class='btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100' data-toggle="modal" data-target="#NewQuestion">
          Ajouter une question
        </button>
      <% end %>

    </div>
  </div>

  <!-- Contact-Tab -->

  <div class="tab-pane" id="tab-contact">
    <div class="container">

      <%= render 'shared/contact_content' %>

    <% if current_user != @campaign.user %>
      <button href="#" class='btn btn-outline-primary rounded-pill d-block mt-3 plastroc-outline-button w-100' data-toggle="modal" data-target="#NewQuestion">
          Ajouter une question
      </button>
    <% end %>

    </div>
  </div>

<!-- Bottom-CTA -->

<div id="sliding-card">
  <button href="#" id="CTA-join-campaign" style="border-radius: 12px 12px 0px 0px" class='plastroc-button-sticky-bottom btn btn-primary d-block mt-3 plastroc-button plastroc-light-shadow w-100 py-3' data-toggle="modal" data-target="#joinModal">
  Mission accomplie !  <i class="fas fa-angle-double-up text-light-gray mb-2"></i>
  </button>

  <div id="bottom-text">
    <h5 class="pt-3 text-center">Terminez votre mission</h5>
    <hr>

    <div class="d-flex flex-column justify-content-center align-items-center pt-3">
      <div class='container text-center'>
        <div class="mb-3">
          <h5>Vous avez terminé votre mission ? <br> Super !</h5>
        </div>
        <div class="mb-3">
          <h6>Vérifiez une dernière fois que avez bien respecté les conditions du recycleur.</h6>
          <p>Si vous avez un doute, référez-vous à l'onglet tuto de votre mission.</p>
        </div>
        <h6>Avertisseez le recycleur afin qu'il puissse prendre en compte votre contribution et terminer votre mission.</h6>
      </div>
      <button class="complete-mission btn btn-primary rounded-pill d-block mt-3 plastroc-button plastroc-light-shadow">terminer la mission</button>
      <%= link_to 'terminer la mission', mission_path(@mission), method: :patch, style: 'display: none;', id: 'complete-cta' %>
    </div>

  </div>
</div>


<!-- Question Create Modal -->
<div class="modal fade" id="NewQuestion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@campaign, @question], remote: true) do |f| %>
          <%= f.input :title,
                label: false,
                placeholder: "Titre*",
                input_html: { class: "col-12 mb-3" }  %>
          <%= f.input :content,
                label: false,
                placeholder: "Contenu*",
                input_html: { class: "col-12 mb-3" }  %>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary rounded-pill plastroc-outline-button" data-dismiss="modal">Annuler</button>
            <%= f.submit 'Ajouter', class: "btn btn-primary rounded-pill plastroc-button" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @first_mission_subscription %>
  <!-- Achivement modal -->
   <div class="achivement-modal d-flex align-items-center">
     <div class="container" id="modal-container">
       <div class="modal-content">
         <div class="modal-body text-center">
         <h4>Merci !</h4>
         <% if current_user.missions != [] %>
           <h5><i class="fas fa-plus"></i> <%= current_user.missions.first.package.xp_reward %> xp</h5>
         <% end %>
         <%= image_tag("star.png", width: 100, height: 100, class: 'mb-3') %>
         <h6>Vous avez souscrit à votre première mission</h6>
         </div>
         <div class="d-flex justify-content-center">
           <button type="button" class="btn btn-primary rounded-pill d-block mt-2 plastroc-button plastroc-light-shadow mb-3 close-modal">
            Poursuivre vers la mission
         </button>
         </div>
       </div>
     </div>
   </div>
<% end %>
