<div class="container">
  <div class="card card-m">
    <% if @material.photo.attached? %>
      <%= cl_image_tag @material.photo.key, crop: :fill, class: "mr-3" %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
    <% end %>
    <span class="badge badge-pill badge-success"><%= @material.category %></span>
    <section>
      <h6><%= @material.name %></h6>
      <p><%= @material.description %></p>
    </section>
  </div>
  <div class="d-flex">
    <%= link_to 'add instruction', new_material_instruction_path(@material), class: "btn btn-primary rounded-pill d-block mt-3 plastroc-button plastroc-light-shadow mr-3" %>
    <%= link_to 'edit', edit_material_path(@material), class: "btn btn-outline-secondary rounded-pill d-block mt-3 plastroc-outline-button" %>
  </div>
  <ul class="list-group">
    <% @material.instructions.order(:step_order).each do |instruction| %>
      <div class="d-flex flex-row card card-s">
        <% if instruction.media.attached? %>
          <%= cl_image_tag instruction.media.key, crop: :fill, class: "mr-3" %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1536939459926-301728717817?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
        <% end %>
        <section class="w-100">
          <div class="d-flex justify-content-between align-items-center w-100">
          <h6><%= instruction.title %></h6>
          <div class="d-flex">
            <span class="badge badge-primary badge-pill mb-2"><%= instruction.step_order %></span>
            <%= link_to 'edit', edit_material_instruction_path(@material, instruction), class: "badge badge-primary badge-pill mb-2" %>
          </div>
          </div>
          <div class='d-inline-block text-truncate' style="max-width: 200px;">
            <%= instruction.content %>
          </div>
        </section>
      </div>
    <% end %>
  </ul>
</div>
